.content-excl-box{
  background: #fff;
  padding: 30px 15px 15px 15px;
}

.crumbs{
  background: #fff;
  margin-bottom: 20px;
}

.content-tree{
  margin-bottom: 15px;
}

.el-tree{

}

.right-select{
  float: right;
}

.content-excl-box h1{
  color: #1F2D3D;
  padding:  0 0 15px 0;
}

.content-search{
  background: #ECEFF1;
  padding:20px 15px  15px 15px ;
  border-radius: 5px;
  text-align: right;
}

.content-top{
  margin-top: 15px;
}

.content-paging {
  text-align: right;
}
